<!-- FOOTER -->
<footer>

  <!-- SCROOL TO TOP -->
  <a href="#toTop" class="fa fa-arrow-up toTop"></a>

  <div class="container">

    <div class="row">

        <div class="col-md-6 copyright">
            {{ SITENAME|e }}
            {% if COPYRIGHT %}
            <br />{{ COPYRIGHT }}
            {% else %}
            <br />2017 &copy; All Rights Reserved.
            {% endif %}
        </div>

        <div class="col-md-6 text-right">
            {% for group_title, group_link in SOCIAL %}
              <a href="{{group_link}}" class="social fa fa-{{group_title|lower}}" target="_blank"></a>
            {% endfor %}
        </div>

    </div>

  </div>
</footer>
<!-- /FOOTER -->



<!-- CORE FILES -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="theme/js/bootstrap.3.1.1.min.js"></script>

<!-- PLUGINS -->
<script type="text/javascript" src="{{SITEURL}}/theme/js/jquery.fitvids.min.js"></script>
<script type="text/javascript" src="{{SITEURL}}/theme/js/jquery.appear.js"></script>
<script type="text/javascript" src="{{SITEURL}}/theme/js/jquery.superslides.min.js"></script>

<!-- js scripts -->
<script async type="text/javascript" src="{{SITEURL}}/theme/js/scripts.js"></script>

<script type="text/javascript" src="{{ SITEURL }}/theme/js/ImageAutoResize.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/application.js"></script>

